<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01"
            aria-controls="navbarTogglerDemo01"
            aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="navbar-brand ml-2" href="/">WebShop</a>
        <a href="#" class="nav-link text-success">{{ app.user.userName ?? 'Viste anonyme' }}</a>
        {% if not app.user %}
            <a class="nav-link text-secondary" href="{{ path('login') }}">Connexion</a>
        {% else %}
            <a href="{{ path('logout') }}" class="btn btn-outline-secondary btn-sm">Se
                deconnecter</a>
        {% endif %}
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">
            <li>
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control form-control-sm mr-sm-2" type="search" placeholder="Rechercher sur le site ..." size="50"/>
                    <button class="btn btn-outline-success btn-sm my-2 my-sm-0" type="submit">Chercher</button>
                </form>
            </li>
        </ul>
        <ul class="navbar-nav mt-2 mt-lg-0 ml-auto">

            <li class="nav-item">
                <a class="nav-link" href="{{ path('location') }}">Locations</a>
            </li>
            {% if app.user %}
                <li class="nav-item">
                    <a class="nav-link" href="#">Mon compte</a>
                </li>
            {% endif %}
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li>
                    {% if not app.user %}
                        <a class="nav-link" href="{{ path('security_registration') }}">inscription
                        </a>

                    {% endif %}
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Admin</a>
                </li>
            </ul>
        </form>
    </div>
</nav>
